<div>
  <h2>HRMS</h2>
  <p>Welcome to HRMS platform!</p>
  <div class="links">
    Follow us on social media: 
    <a href="https://linkedin.com" target="_blank" rel="noopener">Linkedin</a>
    <a href="https://x.com" target="_blank" rel="noopener">X (former Twitter)</a>

    <p>{{dateOfToday}}</p>
  </div>
  <div *ngIf="isAuth$ | async" class="legal">
    <a routerLink="/terms">Terms of Service</a>
    <a routerLink="/privacy">Privacy Policy</a>
    <a routerLink="/cookies">Cookies Policy</a>
  </div>
</div>
